@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #252422;
  --foreground: #FAE7D5;
  --primary: #D95B1C;
  --primary-hover: #c04f18;
  --secondary: #FAE7D5;
  --card-bg: #2a2826;
  --border: #3a3836;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans TC", "Microsoft JhengHei", "PingFang TC", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
